<div class="container p-5">
    <button class="btn btn-primary" (click)="isOdd = !isOdd"> view ODD numbers</button>
    <div class="row pt-5">
        <div *ngIf="isOdd">
            <div class="list-group">
                <div class="list-group-item odd" *ngFor="let number of oddNumbers" [ngClass]="{odd:number % 2== 0}"> {{number}}
                </div>
            </div>
        </div>
        <div *appUnless = "isOdd">
            <div class="list-group">
                <div class="list-group-item" *ngFor="let number of evenNumbers" [ngClass]="{odd:number % 2== 0}">
                    {{number}}
                </div>
            </div>
        </div>
    </div>
</div>

<p [customeDerective]="'green'"  defaultColor = "red" >Style me</p>